# Google Gemini (For Chat and Vision)
GOOGLE_AI_API_KEY=AIzaSyApmrmZ35Yo13eUDSpgO2oOGFouxao8pU4

# Supabase (For Database and Storage)
NEXT_PUBLIC_SUPABASE_URL=https://ipybtirfhqediuaippqv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlweWJ0aXJmaHFlZGl1YWlwcHF2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA5NTI0MDMsImV4cCI6MjA4NjUyODQwM30.3f7a91zH6CcB2ecfeVKrGHZoTYBvJUdCbDnCcMhZhwY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlweWJ0aXJmaHFlZGl1YWlwcHF2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk1MjQwMywiZXhwIjoyMDg2NTI4NDAzfQ.bcjpH3Z7D2PBchU0cx9vKY8a8YQYRjOHtBbwZBg0taE

# Auth
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=your_google_client_id_here

# ElevenLabs (For Puddlefoot's Voice)
ELEVENLABS_API_KEY=sk_9e737c25e7b20916e7ea9f07e85ba9e1e61e04e822c6b4ad
NEXT_PUBLIC_ELEVENLABS_VOICE_ID=L820P36PyM0qW6c1AqiR
